@charset "UTF-8";

@media all and (max-width: 1903px) {
  #wrap #main {
    #section6 .container .wrap .contents .img-box > li .gap .image .title ul li i {
      width: 59.073%;
    }

    #section8 .container .wrap .contents ul li .text-box .gap {
      padding: 13.119%;
    }
  }
}

@media all and (max-width: 1170px) {
  #wrap {
    #main {
      #section2 {
        .container .wrap {
          .contents ul {
            display: flex;
            flex-flow: row wrap;

            li {
              width: 50%;

              .gap {
                padding: 15px;
              }
            }
          }

          .title {
            padding: 0 0 7.692% 0;
          }
        }

        padding: 11.111% 0;
      }

      #section3 {
        padding: 11.111% 0;

        .container .wrap .title {
          padding: 0 0 7.692% 0;
        }
      }

      #section5 {
        padding: 11.111% 0;
      }

      #section6 .container .wrap .contents .img-box > li .gap .image .title ul {
        bottom: 0;
      }

      #section7, #section9 {
        padding: 11.111% 0;

        .container .wrap .title {
          text-align: center;
          padding: 0 0 7.692% 0;
        }
      }

      #section10 {
        padding: 11.111% 0;

        .container .wrap {
          .title {
            text-align: center;
            padding: 0 0 7.692% 0;
          }

          .contents form ul li div button {
            padding: 0 30px;
          }
        }
      }
    }

    #footer {
      padding: 4.204% 0 2.102% 0;

      .container .wrap > ul > li {
        &:nth-child(2) {
          padding: 2.564% 0 1.282% 0;
        }

        &:nth-child(3) {
          padding: 0.855% 0 0 0;
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  #wrap {
    #header {
      .container {
        max-width: 750px;

        .wrap .right #nav {
          position: absolute;
          width: 100%;
          height: 100vh;
          top: 72px;
          left: 0;
          overflow-y: scroll;
          transition: all .3s;
        }
      }

      &.addH60 .container .wrap .right #nav {
        top: 60px;
      }

      .container .wrap .right #nav > ul {
        display: block;
        background: #000;
        padding: 0;

        > li {
          width: 100%;

          > {
            .sub .sub-wrap ul {
              display: block;
              padding:5px 0;

              li {
                width: 100%;
                content: none;
                border: 0;
                margin: 0;
              }
            }

            a {
              color: #888;
              height: 40px;
              line-height: 40px;
            }
          }

          &:nth-child(1) > a {
            color: #888;
            height: 40px;
            line-height: 40px;
          }

          > {
            a:hover {
              color: #fff;
            }

            .sub {
              position: relative;
              top: 0;
            }
          }
        }
      }

      &.addH60 .container .wrap .right #nav > ul > li > {
        .sub {
          top: 0;
        }

        a {
          height: 40px;
          line-height: 40px;
        }
      }

      .container .wrap .right {
        #nav {
          > ul > li > {
            .sub1 .sub-wrap ul li {
              margin: 0 0 40px 20px;

              &:first-child {
                margin: 20px 0 40px 20px;
              }
            }

            .sub3 .sub-wrap ul li {
              dl dt {
                padding: 0;
                margin: 30px 0 0 0;
              }

              margin: 0 0 0 20px;
            }

            .sub5 .sub-wrap ul li {
              margin: 0 0 40px 20px;

              &:first-child {
                margin: 20px 0 40px 20px;
              }
            }

            .sub6 .sub-wrap ul li {
              margin: 0 0 40px 20px;

              &:first-child {
                margin: 20px 0 40px 20px;
              }

              &:last-child {
                padding: 0 0 40px 0;
              }
            }

            .sub2, .sub4 {
              width: 100%;
            }

            .sub .sub-wrap {
              padding: 0 10px;

              ul li dl dt {
                padding: 0;
              }
            }

            .sub2 .sub-wrap ul li .sub-sub, .sub4 .sub-wrap ul li .sub-sub {
              position: relative;
              width: 100%;
              top: 0;
              left: 0;
            }

            .sub2 .sub-wrap ul li .sub-sub .sub-sub-wrap, .sub4 .sub-wrap ul li .sub-sub .sub-sub-wrap {
              padding: 0 0 20px 0;
            }

            .sub .sub-wrap ul li dl {
              dt img, dd img {
                display: none;
              }
            }

            .sub1 {
              display: none;
            }

            .sub2 {
              display: none;

              .sub-wrap ul li .sub-sub {
                &.sub2-1, &.sub2-2, &.sub2-3, &.sub2-4, &.sub2-5 {
                  display: block;
                }
              }
            }

            .sub3 {
              display: none;
            }

            .sub4 {
              display: none;

              .sub-wrap ul li .sub-sub {
                &.sub4-1, &.sub4-2, &.sub4-3, &.sub4-4, &.sub4-5, &.sub4-6, &.sub4-7, &.sub4-8, &.sub4-9, &.sub4-10, &.sub4-11 {
                  display: block;
                }
              }
            }

            .sub5, .sub6, .sub {
              display: none;
            }
          }

          display: none;
        }

        .mobile-btn-box {
          display: block;
        }

        #aside {
          width: 80px;

          span > a {
            padding: 0 0 0 13px;
          }
        }
      }
    }

    #main {
      #section1 .container .wrap .slide-container .slide-view .slide-wrap .slide .title {
        h3 {
          font-size: 1.816347124vw;
        }

        h2 {
          font-size: 7.063572149vw;
          padding: 1.576% 0;
        }
      }

      #section3 .container .wrap .contents ul {
        flex-flow: row wrap;

        li {
          width: 50%;

          .gap {
            padding: 15px;
          }
        }
      }

      #section6 .container .wrap .contents .img-box {
        flex-flow: row wrap;

        > li {
          width: 50%;

          .gap {
            padding: 5px;
          }
        }
      }

      #section7 .container .wrap .contents > ul {
        flex-flow: row wrap;

        > li {
          width: 50%;

          .gap {
            margin: 15px;
          }
        }
      }

      #section8 .container .wrap .contents ul {
        flex-flow: row wrap;

        li {
          width: 100%;

          .bg-img {
            height: 55.49949546vw;
          }
        }
      }

      #section9 .container .wrap .contents ul {
        flex-flow: row wrap;

        li {
          width: 50%;

          .gap {
            padding: 15px;
          }
        }
      }

      #section10 .container .wrap .contents {
        form ul li:last-child {
          padding: 10.406% 0 0 0;
        }

        .list-box {
          width: 57.518%;
        }

        form ul {
          width: 57.518%;

          li div button {
            font-size: 50%;
          }
        }
      }
    }

    #section11 {
      .container {
        .wrap {
          .contents {
            iframe {
              height:400px;
            }
          }
        }
      }
    }


    #footer .container .wrap > ul > li {
      ul {
        flex-flow: row wrap;
        text-align: center;
      }

      &:nth-child(1) ul li {
        width: 100%;

        .gap h1 {
          padding: 30px 0 0 0;
        }
      }
    }
  }
}

@media all and (max-width: 760px) {
  #wrap #main {
    #section2 .container .wrap {
      .contents ul li {
        width: 100%;

        .gap {
          padding: 15px;
        }
      }

      .title {
        h2 {
          font-size: 1.578947368vw;
        }

        p {
          font-size: 3.2894733684vw;
        }
      }
    }

    #section3 .container .wrap .title {
      h2 {
        font-size: 1.842105263vw;
      }

      h3 {
        font-size: 4.210526316vw;
      }
    }

    #section4 .container .wrap .menu .menu-container {
      display: flex;
      height: auto;
      padding: 11.053% 0;

      ul li {
        display: block;
        text-align: center;
        padding: 8px 0;
      }
    }

    #section5 .container .wrap .contents .svg-box {
      flex-flow: row wrap;

      li {
        width: 50%;

        > div {
          padding: 30px 0;
        }
      }
    }

    #section6 .container .wrap .contents .img-box > li {
      width: 100%;

      .gap {
        padding: 15px;
      }
    }

    #section7 .container .wrap .title, #section9 .container .wrap .title {
      h2 {
        font-size: 1.842105263vw;
      }

      h3 {
        font-size: 4.210526316vw;
      }
    }

    #section10 .container .wrap {
      .title {
        h2 {
          font-size: 1.842105263vw;
        }

        h3 {
          font-size: 4.210526316vw;
        }
      }

      .contents form ul li div {
        button {
          padding: 0 20px;
        }

        input {
          font-size: 12px;
        }
      }
    }
  }
}

@media all and (max-width: 680px) {
  #wrap #main #section8 .container .wrap .contents ul {
    text-align: center;

    li .text-box .gap .text {
      h2 {
        font-size: 1.842105263vw;
      }

      h3 {
        font-size: 4.210526316vw;
      }

      p {
        font-size: 12px;
      }
    }
  }
}

@media all and (max-width: 660px) {
  #wrap {
    #main #section10 .container .wrap .contents {
      .list-box {
        width: 80%;
        padding: 8.772% 0 0 0;
      }

      form ul {
        width: 80%;
      }
    }

    #footer .container .wrap > ul > li:nth-child(3) {
      ul {
        padding: 0 0 30px 0;

        li {
          width: 100%;
          padding: 5px 0;
        }
      }

      p {
        text-align: center;
      }
    }
  }
}

@media all and (max-width: 560px) {
  #wrap #main {
    #section3 .container .wrap .contents ul li, #section7 .container .wrap .contents > ul > li {
      width: 100%;
    }

    #section9 .container .wrap .contents ul li {
      width: 100%;
      text-align: center;
    }
  }
}

@media all and (max-width: 500px) {
  #wrap #main {
    #section1 .container .wrap .slide-container .slide-view .slide-wrap .slide .title {
      h2 {
        padding: 3% 0;
      }

      p a {
        width: 140px;
        height: 32px;
        line-height: 30px;
        font-size: 10px;
        border-radius: 16px;
      }
    }

    #section2 {
      width: 100%;
      background: #f7f7f7;
      padding: 130px 0;
      overflow: hidden;

      .container {
        .wrap {
          .title {
            h2 {
              font-size: 14px;
            }

            p {
              font-size: 18px;
              padding:0 20px;
              br {display:none;}
            }
          }
        }
      }
    }

    #section5 .container .wrap .contents .svg-box li {
      width: 100%;
    }

    #section6 .container .wrap .contents .img-box > li .gap .image .title ul li {
      h2 {
        font-size: 14px;
      }

      h3 {
        font-size: 16px;
      }
    }

    #section10 .container .wrap .contents {
      .list-box, form ul {
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 400px) {
  #wrap #main #section10 .container .wrap .contents form ul li div button {
    height: 40px;
    padding: 0 10px;
    font-size: 45%;
  }
}

@media all and (max-width: 360px) {}